/*
  CSS stylesheet for login.html
*/


body {
  /*background-image: url('soccer.jpg');
    Does NOT work
  */
  background-color: black;
  color: white;
}

nav ul {
  list-style: none;
  line-height: 2.5;
}

a {
  color: gold;
  cursor: pointer;
}

a:hover {
  color: lightgrey;
  cursor: pointer;
}

input {
  width: 25%;
}
